<section class="section section-trombi">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <h1 style="text-align: center">Trombinoscope</h1>
            </div>
        </div>
        {{!-- ============================================================= BUREAU =============================================== --}}
        <div class="container container-trombi">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="trombi-title">Le bureau</h4>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2">
                    {{!-- TROMBI --}}
                    <div class="card card-trombi">
                        <img class="card-img-top trombi-pictures"
                            src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                            <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {{!-- TROMBI --}}
                    <div class="card card-trombi">
                        <img class="card-img-top trombi-pictures"
                            src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                            <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card-trombi">
                        <img class="card-img-top trombi-pictures"
                            src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                            <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {{!-- TROMBI --}}
                    <div class="card card-trombi">
                        <img class="card-img-top trombi-pictures"
                            src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                            <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    {{!-- TROMBI --}}
                    <div class="card card-trombi">
                        <img class="card-img-top trombi-pictures"
                            src="https://cdn.pixabay.com/photo/2019/03/04/11/24/dunes-4033821_960_720.jpg" alt="">
                        <div class="card-body">
                            {{!-- <h5 class="card-title">Card title</h5> --}}
                            <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                            <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {{!-- TROMBI --}}
                    <div class="card card-trombi">
                        <img class="card-img-top trombi-pictures"
                            src="https://cdn.pixabay.com/photo/2019/03/04/11/24/dunes-4033821_960_720.jpg" alt="">
                        <div class="card-body">
                            {{!-- <h5 class="card-title">Card title</h5> --}}
                            <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                            <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- ============================================================= EQUIPE 1 =============================================== --}}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 1</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- ============================================================= EQUIPE 2 =============================================== --}}

                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 2</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- ======================================================================= EQUIPE 3 ========================================================= --}}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 3</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- ============================================================= EQUIPE 4 =============================================== --}}

                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 4</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- ============================================================ EQUIPE 5 ==================================================================== --}}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 5</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- ============================================================= EQUIPE 6 =============================================== --}}

                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 6</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>

                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures"
                                        src="https://cdn.pixabay.com/photo/2019/06/13/11/23/landscape-4271367_960_720.jpg"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">Michel MERCIER</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">21/07/74</h6>
                                    </div>
                                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                        <i class="fas fa-pencil-alt"></i>

                            </div>
                            <div class="col-md-4">
                    <i class="fas fa-trash-alt"></i>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>