<!-- Footer -->
<footer class=" font-small cyan darken-3">

	<!-- Footer Elements -->
	<div class="container">

		<!-- Grid row-->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-12 py-5 social-networks">
				<div class="mb-5 flex-center">

					<!-- Facebook -->
					<a class="fb-ic" href="https://www.facebook.com/PingTTGV/" target="_blank">
						<i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
					</a>
		{{!-- Mentions légales --}}
		<a href="http://google.com" rel="noopener noreferrer"><i class="fas fa-file-contract fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
				</div>
			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row-->

	</div>
	<!-- Footer Elements -->

	<div class="footer-copyright text-center py-3">
		<!-- Copyright -->
		© 2019 Copyright:
		<a href="#">Victor Marnetto</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->







{{!-- <!--  FOOTER 
	=========================================== -->
	 	<footer>
			<ul class="footer-animation">
				<li class="btn-footer">
	  				<a class="snip1582">Copyright</a>
				</li>
				<li class="btn-footer">
					<a class="snip1582">Mentions Légales</a>
				</li>
				<li class="btn-footer">						
					<a class="snip1582">Infos</a>
				</li>
			</ul>
		</footer>
	</section> --}}