<!DOCTYPE html>

<html lang="fr-FR">


<head>
    <title>ADMINISTRATION - La Genétouze - Tennis de Table</title>

    <meta name="Description" content="Le Site officiel du club de Tennis de Table de la Genétouze-Venansault">

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>


    <!-- Icon -->

    <link rel="icon" href="/ressources/pictures/logo.webp">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Overpass:400,700,900" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

    <!-- Styles -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/admin.css">
</head>



<body>
    <header>
        {{>admin/adminNav}}
        {{>admin/adminSidebar}}
        {{{body}}}
    </header>

    <!-- SCRIPT JQUERY ANIMATION NAVBAR
================================================================= -->
    {{> scripts}}
</body>