<section class="section articles-add">
  <div class="container is-fullhd">
    <form action="/admin-pannel/trombi/add/post" method="POST" enctype="multipart/form-data"
      style="text-align: center; color: red; font-size: 150%">
      <div class="field">
        <label class="label">Nom</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="Nom">
        </div>
      </div>
      <div class="field">
        <label class="label">Prénom</label>
        <div class="control">
          <input class="input" type="text" name="surname" placeholder="Prénom">
        </div>
      </div>
      <div class="field">
        <label class="label">Date de naissance</label>
        <div class="control">
          <input class="input" type="date" name="birthDate">
        </div>
      </div>
      <br>
      <div class="file">
        <label class="file-label">
          <span class="file-cta">
            <span class="file-label">
              Choisissez une image...
            </span>
          </span>
          <input class="file-input" type="file" name="image">
        </label>
      </div>
  <p>
      Position de la personne au sein du club : <br>
      <input type="checkbox" name="status" value="bureau" aria-label="Checkbox for following text input">
      <label>Bureau</label> <br>
      <input type="checkbox" name="equipe" value="1" aria-label="Checkbox for following text input">
      <label>Equipe 1</label> <br>
      <input type="checkbox" name="equipe" value="2" aria-label="Checkbox for following text input">
      <label>Equipe 2</label> <br>
      <input type="checkbox" name="equipe" value="3" aria-label="Checkbox for following text input">
      <label>Equipe 3</label> <br>
      <input type="checkbox" name="equipe" value="4" aria-label="Checkbox for following text input">
      <label>Equipe 4</label> <br>
  </p>

  <button type="submit" class="">Ajouter</button>
    </form>
    <br>
    <form action="/admin-pannel/trombi" method="GET" style="text-align: center; font-size: 150%">
      <button class="button is-text">Annuler</button>
    </form>
  </div>
</section>