<nav class="navbar fixed-left top-menu navbar-expand-lg navbar-light bg-light" style="background-color: #08d3b5;">
    <div class="collapse navbar-collapse left" id="navbarNavDropdown">
        <div class="navbar-nav-left">
            <ul id="menu-accordeon">
                <li>
                    <a href="/admin-pannel">
                        <button class="left-nav-btn focus">
                            <i class="fas fa-users-cog"></i>
                            Administrateurs
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/admin-pannel/trombi">
                        <button class="left-nav-btn">
                            <i class="fas fa-users"></i>
                            Trombinoscope
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/admin-pannel/actus">
                        <button class="left-nav-btn">
                            <i class="fas fa-newspaper"></i>
                            Actus
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/admin-pannel/calendar">
                        <button class="left-nav-btn">
                            <i class="fas fa-calendar-alt"></i>
                            Calendrier
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/admin-pannel/contactEdit">
                        <button class="left-nav-btn">
                            <i class="fas fa-address-book"></i>
                            Contact
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>